.register-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding-top: 20px;
  }
  .text{
    font-weight: 600;
    padding-bottom: 5px;
  }

  input{
    margin-bottom: 7px;
    border-radius: 6px;
    outline: none;
    padding: 12px;
    background: #1618230f;
    border: #1618230f;
    width: 100%;
    &:hover{
      background-color: #f5f5f5;
    }
  }

  button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #fe2c55;
    color: white;
  }

  .back{
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
  }

  .input-password{
    i.fa-solid {
      position: absolute;
      margin-top: 16px;
      margin-left: -30px;
      cursor: pointer;
    }
  }
  .input-rePassword{
    i.fa-solid {
      position: absolute;
      margin-top: 16px;
      margin-left: -30px;
      cursor: pointer;
    }
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding-top: 20px;
  }
  .text{
    font-weight: 600;
    padding-bottom: 5px;
  }

  input{
    margin-bottom: 7px;
    border-radius: 6px;
    outline: none;
    padding: 12px;
    background: #1618230f;
    border: #1618230f;
    width: 100%;
    &:hover{
      background-color: #f5f5f5;
    }
  }

  button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #fe2c55;
    color: white;
  }

  button[disabled=disable], button:disabled{
    cursor: not-allowed;
  }

  .back{
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
  }

  .input-password{
    i.fa-solid {
      position: absolute;
      margin-top: 16px;
      margin-left: -30px;
      cursor: pointer;
    }
  }
}

.nav-link.active {
  background-color: #fe2c55;
  color: white !important;
  font-weight: bold;
  border-radius: 5px;
}

.logo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px !important;
  text-decoration: none;
  color: black;
}

.supplier-logo {
  height: 100px;
  width: auto;
}

.add-image{
  height: 200px;
  width: auto;
}

.bill-customer{
  .vnd-input{
    position: absolute;
      margin-top: 6.5px;
      margin-left: 430px;
      user-select: none;
  }
}

.search-product-sale{
  .dropdown-sale{
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #dee2e6;
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-row-sale{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    padding: 2px 5px 3px 10px;
  }

  .dropdown-customer-sale{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    padding: 2px 5px 3px 10px;

    span{
      padding: 2px;
    }
  }
  
  .dropdown-sale:empty{
    border: none;
  }
}

.invoice {
  margin: 10px auto;
  padding: 10px;
  font-weight: 500;
  h5{
    text-align: center;
  }
  img{
    margin-left: 40%;
  }
  .products{
    .products-table{
      padding: 10px;  
      border-collapse: collapse;
      border: 1px dotted black;
    }
    th{
      border: 1px dotted black;
    }
    td{
      border: 1px dotted black;
      padding: 4px;
    }
  }
  .summary{
    .header-summary{
      padding-right: 40px;
    }
  }
}

.invoice-header {
  text-align: center;
}

.invoice-total {
  margin-top: 20px;
  text-align: right;
}

.payment-info {
  margin-top: 20px;
}

.payment-field {
  margin-bottom: 10px;
}

.payment-field span {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.payment-field span:last-child {
  margin-left: 20px;
}




