.login-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding-top: 20px;
  }
  .text{
    font-weight: 600;
    padding-bottom: 5px;
  }

  input{
    margin-bottom: 7px;
    border-radius: 6px;
    outline: none;
    padding: 12px;
    background: #1618230f;
    border: #1618230f;
    width: 100%;
    &:hover{
      background-color: #f5f5f5;
    }
  }

  button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #fe2c55;
    color: white;
  }
  .input-password{
    i.fa-solid {
      position: absolute;
      margin-top: 16px;
      margin-left: -30px;
      cursor: pointer;
    }
  }
}

.nav-link.active {
  background-color: #fe2c55;
  color: white !important;
  font-weight: bold;
  border-radius: 5px;
}

.logo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px !important;
  text-decoration: none;
  color: black;
}

.supplier-logo {
  height: 100px;
  width: auto;
}

.add-image{
  height: 200px;
  width: auto;
}
